/* .test1
{
    background-image: url('https://previews.123rf.com/images/cosmaa/cosmaa1801/cosmaa180100212/93932564-vector-cartoon-illustration-of-online-survey-customer-service-feedback-on-screen-tablet-human-hands-.jpg');
  background-size: 100% 100%;
    filter: blur(1px);
    opacity: 0.7;
    
}
h1
{
    background: turquoise;
    text-shadow: none; 
   color: rgb(99, 43, 6);
    font-size: 50px;
   font-weight: bolder;
    fill-opacity: 1;
   z-index: 5;

} */

div::after {
    content: "";
    background-image: url('https://previews.123rf.com/images/cosmaa/cosmaa1801/cosmaa180100212/93932564-vector-cartoon-illustration-of-online-survey-customer-service-feedback-on-screen-tablet-human-hands-.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(2px);
    background-size: 100% 100%;  
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  h1
{
  
    text-shadow: none; 
   color: rgb(2, 1, 0);
    font-size: 50px;
   font-weight: bolder;
    fill-opacity: 1;
   z-index: 5;
}
h3{
  
  color: rgb(2, 1, 0);
  font-size: 50px;
}
h5{
  position: relative;
  color: rgb(20, 11, 1);
  font-size: 50px;
}   