
   
    
body{
    background-color: cornsilk;
    
    
  background-image: url('https://previews.123rf.com/images/nadianb/nadianb1807/nadianb180700114/104876121-food-cooking-ingredients-background-pasta-tomatoes-herbs-and-vegetables-on-white-table-top-view-with.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
    

header > h1{
    padding: 60px 40px 60px 40px;
    text-align: center;
     background: rgb(223, 219, 14);
     text-shadow: none; 
    color: black;
     font-size: 50px;
    font-weight: bolder;
     fill-opacity: 1;
     height: fit-content;
    
  
    
 
}
    
h3{
   background-color: rgb(196, 238, 234);
   color: rgb(10, 1, 12) ;
}
#title{
    margin-top: 0.5em;
    text-align: center;
    font-size: 4em;
}
.button-elm{
    margin: auto;
    margin-top: 5.75em;
    width: 15%;
    height: 2.75em;
    font-size: 1.5em;
    border-radius: 0.3em;
    color: gold;
    display: block;
}
footer{
    text-align: center;
}